static/node_modules
static/dist
static/build
static/coverage
static/dist
static/build
static/coverage
__pycache__/
.env
log/
static/
src/node_modules
.npm-cache/
.DS_Store
.pytest_cache/
.coverage
coverage.xml
.coverage.*
.tox/
*.egg-info/